AddDefaultCharset utf-8
#AddHandler wsgi-script .py

PassengerEnabled On
PassengerAppRoot /home/d/drimspb/drugoekino.top/public_html/
PassengerPython /usr/bin/python2.7

#PassengerPython /home/d/dafanapf/py27.dafanapf.bget.ru/env/bin/python

