
{% extends 'blog/base.html' %}

{% load staticfiles %}



{% block content %}

{{ len}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

            <script>
            function get_posts(){
                     $.get("{% url 'get_posts' %}");
                };

        </script>

            <script>
            function get_videos(){
                     $.get("{% url 'get_videos' %}");
                };

        </script>
            <script>
            function get_hidden(){
                     $.get("{% url 'get_hidden' %}");
                };

        </script>

            <script>
            function video_dechaos(){
                };

        </script>

            <script>
            function new_fulls(){
                     $.get("{% url 'new_fulls' %}");
                };

        </script>

        <script>
        function test_func2(){
                 $.get("{% url 'test_func2' %}");
            };
        </script>


        <script>
        function update_kp(){
                 $.get("{% url 'update_kp' %}");
            };
        </script>

        <script>
        function no_long_videos_feed2file(){
                 $.get("{% url 'no_long_videos_feed2file' %}");
            };
        </script>

        <script>
        function no_long_videos_get_from_file(){
                 $.get("{% url 'no_long_videos_get_from_file' %}");
            };
        </script>


        <script>
        function list_concepts(){
                 $.get("{% url 'list_concepts' %}");
            };
        </script>



        <script>
        function posts2concept(){
                 $.get("{% url 'posts2concept' %}");
            };
        </script>

        <script>
        function check_videos(){
                 $.get("{% url 'check_videos' %}");
            };
        </script>



        <script>
        function calc_rating(){
                 $.get("{% url 'calc_rating' %}");
            };
        </script>

        <script>
        function concept_rating(){
                 $.get("{% url 'concept_rating' %}");
            };
        </script>

        <script>

            function not_linked(){
                 $.get("{% url 'not_linked' %}");
            };
        </script>


        <script>
            function find_new_long_2file(){
                 $.get("{% url 'find_new_long_2file' %}");
            };
        </script>

        <script>
            function upload_2_private(){
                 $.get("{% url 'upload_2_private' %}");
            };
        </script>
        <script>
            function delete_broken_video(){
                 $.get("{% url 'delete_broken_video' %}");
            };
        </script>

        <script>
            function get_posts_by_kpid(){
                 $.get("{% url 'get_posts_by_kpid' %}");
            };
        </script>

        <script>
            function link_post_2_concept(){
                 $.get("{% url 'link_post_2_concept' %}");
            };
        </script>

        <script>
            function test_func(){
                 $.get("{% url 'test_func' %}");
            };
        </script>


        <script>
            function photo_likes(){
                 $.get("{% url 'photo_likes' %}");
            };
        </script>


        <script>
            function add_moonwalk(){
                 $.get("{% url 'add_moonwalk' %}");
            };
        </script>


        <script>
            function polls(){
                 $.get("{% url 'polls' %}");
            };
        </script>

        <script>
            function ak_upload(){
                 $.get("{% url 'ak_upload' %}");
            };
        </script>

<button onclick="get_posts()">
get posts
</button>


<button onclick="get_videos()">
get videos
</button>

<button onclick="get_hidden()">
get hidden
</button>

<button onclick="video_dechaos()">
video dechaous
</button>

<button onclick="new_fulls()">
new_fulls
</button>


<button onclick="test_func2()">
    test func 2
</button>

<button onclick="update_kp()">
    update from kp
</button>


<button onclick="no_long_videos_feed2file()">
    no_long_videos_feed2file
</button>

<button onclick="no_long_videos_get_from_file()">
    no_long_videos_get_from_file
</button>

<button onclick="list_concepts()">
    list_concepts
</button>



<button onclick="posts2concept()">
    posts2concept
</button>

<button onclick="check_videos()">
    check_videos
</button>


<button onclick="calc_rating()">
    calc_rating
</button>

<button onclick="concept_rating()">
    concept_rating
</button>



<button onclick="not_linked()">
    not_linked
</button>


<button onclick="find_new_long_2file()">
    find_new_long_2file
</button>

<button onclick="upload_2_private()">
    upload_2_private
</button>


<button onclick="delete_broken_video()">
    delete_broken_video
</button>

<button onclick="get_posts_by_kpid()">
    get_posts_by_kpid
</button>



<button onclick="link_post_2_concept()">
    link_post_2_concept
</button>

<button onclick="test_func()">
    test_func
</button>



<button onclick="photo_likes()">
    photo_likes
</button>


<button onclick="add_moonwalk()">
    add_moonwalk
</button>

<button onclick="polls()">
    polls
</button>

<button onclick="ak_upload()">
    ak_upload
</button>


{% for vk_post in vk_posts %}
        <div class="vk_post">





            <div>
            <b>{{vk_post.reposts}}</b><p>{{ vk_post.text }}
                <br>
                <a href = https://vk.com/wall{{ vk_post.owner_id}}_{{vk_post.post_id}}>вконтакте</a>
                <br>
                <a href = /admin/vkposts/vkpost/{{vk_post.id}}/change/>в админке</a>
            </p>

            <!--{% autoescape off %}-->
            <!--{{vk_post.widget}}-->
            <!--{% endautoescape %}-->
            </div>
        </div>
    {% endfor %}


{% endblock %}

