{% extends 'blog/base.html' %}
{% load my_substract %}

{% block title %}{{list.title}}{% endblock %}

{% block content %}



<a href="http://vk.com/share.php?url=http://drugoekino.top/lists/{{list.slug}}"

   target="_blank" rel="nofollow">
   поделиться ВК
</a>

		<h1>{{list.title}}</h1>
		<br>
		{% if list.elem_image.image %}
			<img src = "{{list.elem_image.image.url}}" width = 100%> <br> <br>
		{% endif%}
		{{list.intro|linebreaks}}
		{% for item in items %}
			<div class = "post">
				<h2>
					{%if item.put_link == True%}
						<a href="{% url 'filmbase:film_detail' item.film.slug %}">
					{%endif %}

					{%if list.numered%}
					{{list.fin_count|my_substract:forloop.counter0}}.
											{%endif%}
					{{item.film.title}} /
					{%if item.film.title_en%}
						{{item.film.title_en}} /
					{%endif%}
					{{item.film.director}} {{item.film.year}}</h2>


				{% if  item.elem_image %}
				<img src = "{{item.elem_image.image.url}}" width = 100%> <br> <br>
				{% elif item.film.image %}
				<img src = "{{item.film.image}}" width = 100%> <br> <br>
				{% elif item.film.first_image %}
				<img src = "{{item.film.first_image.image.url}}" width = 100%> <br> <br>

				{%endif%}
				</a>


				<p>{{item.text|linebreaks}}</p>
		    	<!--{#<a href="{% url 'filmbase.film_detail' pk=item.film.pk %}">страница фильма</a>#}-->
				{%if item.put_link%}
					<a href="{% url 'filmbase:film_detail' item.film.slug %}">страница фильма «{{item.film.title}}», смотреть онлайн</a>
				{%endif%}
		    </div>
			<div align = center>***</div>
		{% endfor %}
<a href="http://vk.com/share.php?url=http://drugoekino.top/lists/{{list.slug}}"

   target="_blank" rel="nofollow">
	<br><br>
	<b>поделиться</b> этим постом <b>ВКонтакте</b>
</a>

<br><br>
{% if list.author %}
<i>Автор текста:</i> <a href = https://vk.com/{{list.author.vk}}>{{list.author.name}} {{list.author.surname}}</a>
<br>
{% endif %}

<div align = center>
	<br>
	{%if list.finished is False%}
	<b>Продолжение следует... </b>
	{%endif%}
	<br>
	Подпишитесь на рассылку, для уведомлений о новых публикациях! </div>



{% endblock %}
