{% extends 'blog/base.html' %}
{% load my_substract %}

{% block title %}{{list.title}}{% endblock %}

{% block content %}

<p>Пока мы не анонсировали заглавную страницу этого сайта - но вы все-таки здесь!</p>

<p> Что же, наш пытливый друг - сайт в разработке, но уже сейчас вы можете изучить 2 слегка наполненных раздела:
<br> <br>
<a href = vk/top> Топ недавних постов из нашей группы ВК, сортированный по числу репостов</a>
<br>
    <br>
<a href = lists> Несколько любопытных списков  - где вы можете ознакомиться не только с описательной частью, но и найти сами фильмы онлайн</a>
{% endblock %}
