{% extends 'blog/base.html' %}

{% load staticfiles %}



{% block content %}

{{ len}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

            <script>
            function get_suggested(){
                     $.get("{% url 'get_suggested' %}");
                };

        </script>




<button onclick="get_suggested()">
get suggs
</button>




{% for sugg_array in suggs_array%}
        <div class="vk_post">

            <a href = http://127.0.0.1:8000/admin/suggested/suggested/{{sugg_array.sugg.id}}/change/>админка</a>

            <b>{{sugg_array.sugg.rating}}</b> <p>{{ sugg_array.sugg.text }}

                <br>
                <a href = https://vk.com/wall{{ sugg_array.sugg.owner_id}}_{{sugg_array.sugg.post_id}}>вконтакте</a>
                <!--<br>-->
                <!--<a href = /admin/vkposts/vkpost/{{vk_post.id}}/change/>в админке</a>-->
            </p>

            {% for sugg_video in sugg_array.videos %}
                {{sugg_video.title}}
            <br>
            <a href = https://vk.com/video{{sugg_video.owner_id}}_{{sugg_video.video_id}}>
                https://vk.com/video{{sugg_video.owner_id}}_{{sugg_video.video_id}}
            </a>
            <br><br>
            {% endfor %}

            <!--{% autoescape off %}-->
            <!--{{vk_post.widget}}-->
            <!--{% endautoescape %}-->

        </div>
    {% endfor %}


{% endblock %}

